In [1]:
from pixcdust.converters.zarr import Nc2ZarrConverter
from glob import glob

# Create a zarr database

In [2]:
pixc = Nc2ZarrConverter(
            sorted(glob("/tmp/pixc")),
            "/tmp/my_awesome_pixc_zarr",
            variables=['height', 'sig0', 'classification'],
            mode='o',
        )
pixc.database_from_nc()

/home/hysope2/SRC/preprocess_swot_pixc/pixcdust/.venv/lib/python3.10/site-packages/distributed/client.py:3161: UserWarning: Sending large graph of size 702.22 MiB.
This may cause some slowdown.
Consider scattering data ahead of time and using futures.
  warnings.warn(

# Read a zarr database

In [2]:
from pixcdust.readers.zarr import ZarrReader
import datetime

In [14]:
pixcr = ZarrReader("/tmp/my_awesome_pixc_zarr")
pixcr.read((datetime.datetime(2023,4,10), datetime.datetime(2023,4,12)))
pixc

In [16]:
gdf_pixc = pixcr.to_geodataframe()
gdf_pixc

,geoid,longitude,latitude,pass_num,tile_num,cycle_num,sig0,time,classification,height,geometry
points,,,,,,,,,,,
0,13.444022,-79.104660,8.762601,9,170,486,NaN,2023-04-10 03:26:32,1.0,20.446413,POINT (-79.10466 8.76260)
1,13.425582,-79.107796,8.763069,9,170,486,NaN,2023-04-10 03:26:32,1.0,19.637384,POINT (-79.10780 8.76307)
2,13.454618,-79.102852,8.762330,9,170,486,NaN,2023-04-10 03:26:32,1.0,19.055544,POINT (-79.10285 8.76233)
3,13.420682,-79.108620,8.763193,9,170,486,NaN,2023-04-10 03:26:32,1.0,18.149841,POINT (-79.10862 8.76319)
4,13.422508,-79.108315,8.763147,9,170,486,NaN,2023-04-10 03:26:32,1.0,17.395298,POINT (-79.10831 8.76315)
...,...,...,...,...,...,...,...,...,...,...,...
10368876,12.158835,-79.645264,9.248270,9,170,487,2.182103,2023-04-11 03:17:10,2.0,78.858482,POINT (-79.64526 9.24827)
10368877,12.159231,-79.645164,9.248255,9,170,487,14.803268,2023-04-11 03:17:10,3.0,77.114090,POINT (-79.64516 9.24825)
10368878,12.161180,-79.644661,9.248180,9,170,487,-1.432298,2023-04-11 03:17:10,2.0,71.485504,POINT (-79.64466 9.24818)
10368879,12.167486,-79.643036,9.247940,9,170,487,-1.585616,2023-04-11 03:17:10,1.0,54.974747,POINT (-79.64304 9.24794)
10368880,12.147898,-79.648087,9.248687,9,170,487,-5.459461,2023-04-11 03:17:10,1.0,103.264801,POINT (-79.64809 9.24869)